[submodule "vendors/superpowers"]
	path = vendors/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "vendors/simdjson"]
	path = vendors/simdjson
	url = https://github.com/seanchatmangpt/simdjson
